body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.masonry {
  columns: 4 250px;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: white;
  margin-bottom: 1rem;
  border-radius: 12px;
  overflow: hidden;
  break-inside: avoid;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  display: block;
}

.card h3 {
  padding: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

form {

  width: 320px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

form h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.profile {
  text-align: center;
  margin-top: 50px;
}


@media(max-width:768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

}